h1 {
  
  color: black; 
}

body {
  text-align: center; 
   margin: 0;
  min-height: 100vh;
  background: linear-gradient(#FF0000,#FFA500
);
 
  color: black;
 
}

ol{
  margin: 20px auto;
  padding: 0;
  list-style-position: inside;
  
}
